* {
  padding: 0;
  margin: 0;
}
header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: bisque;
  padding: 20px;
}
.container {
  text-align: center;
  padding: 10px;
}
button {
  height: 30px;
  width: 30px;
  background: aqua;
}
.button-cls {
  padding: 10px;
}
p {
  padding: 5px;
}
input {
  padding: 5px;
}
.reset{
    width: 50px;
    height: 32px;
    margin: 5px;
}
